{% extends "kandedan/base2.html" %}

{% load staticfiles %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{% static 'kandedan/css/add_style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}

        <h1>Add New Activity</h1>

        <fieldset>
            <legend><span class="number">1</span>please fill in the info</legend>
            <label for="amount">How Much:</label>
            <input type="number" step="0.01" min="0" max="10000000" id="amount" name="amount" required>


            <label for="date">Date:</label>
            <input type="text" id="date" name="date" value="{{ now }}">

        </fieldset>

        <fieldset>
            <label for="msg">Message:</label>
            <textarea id="msg" name="msg" required></textarea>
        </fieldset>
        <fieldset>


            <label>Who:</label>
            {% for u in users %}
                <input type="checkbox" id={{ u.screen_name }} value={{ u.screen_name }} name="who">
                <label class="light" for={{ u.username }}>{{ u.screen_name }}</label>*
                {#                <input type="number" step="1" min='0' class="cnt" name={{ "cnt"+k }} value="1"> Portition#}
                <input type="text" class="cnt" name={{ "cnt"|add:u.username }} value="1"> Portition
                <br>
            {% endfor %}


        </fieldset>
        <button type="submit" id="add_button">Submit</button>
    </form>
{% endblock %}
{% block script %}

    <script src="{% static 'kandedan/js/add.js' %}"></script>
{% endblock %}
