{% extends "kandedan/base.html" %}

{% load staticfiles %}

{% block head %}
    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->
    <link rel=stylesheet type=text/css href="{% static 'kandedan/css/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'kandedan/css/scrolling-nav.css' %}">
    <link rel="stylesheet" href="{% static 'kandedan/css/table.css' %}">
{% endblock %}
{% block body %}
    <div class="wrap">
        <div class="fleft">

            {% include 'kandedan/transaction_list.html' %}

        </div>
        <div class="fright">
            {% include 'kandedan/balance_list.html' %}
        </div>
    </div>
    <!-- jQuery -->
{% endblock %}
{% block script %}
    <script src="{% static 'kandedan/js/scrolling-nav.js' %}"></script>
{% endblock %}
